.cover {
  // background-color: rgba($white-color, .2);
  padding: 15rem 4rem;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/isbaking-cover-sm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    left: 0;
  }

  &__header {
    font-size: 1em;
    font-weight: 800;
  }
  
  &__btn--primary {
    border: 1px solid rgb(189, 189, 189);
    background-color: $white-color;
    border: 0;
    border-radius: 5px;
    margin-top: 3rem;
    padding: 1rem 8rem;
  } 
}

@media screen and (min-width: $screen-sm) {
  .cover {
    background-image: url('../images/isbaking-cover.jpg');
    &__header {
      font-size: 8em;
      margin-bottom: 2rem;
    }

    &__lead {
      font-size: 1.4em;
    }

    &__btn--primary {

    }
  }
}