.menu-bar {
  background: {
    color: $menu-color;
  }
  padding-bottom: 1rem;

  &__logo {
    font-size: 2em;
    text-align: center;
  }

  &__nav {

    li.active > a,
    li.active > a:hover,
    li.active > a:focus,
    li.active > a:active {
      color: $black-color;
      background-color: transparent;
    }

    li.active > a {
      border-bottom: 4px solid $primary-color;
    }
  }

  &__tel-btn {
    background-color: #efefef;
    border: 1px solid rgba(4, 4, 4, 0.08);
    margin-top: 1rem;
    border-radius: 5px;
    transition: all .5s ease;

    &:hover {
      background-color: $primary-color;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .menu-bar {
    &__logo {
      font-size: 2em;
      margin: 5rem 0;
      float: left;
    }

    &__nav {
      margin-top: 4rem;
      float: right;
    }
  }
}
