$primary-color: #ffd619;

$white-color: #fff;
$black-color: #222;

$font-color-dark: $black-color;
$font-color-light: $white-color;

$menu-color: $white-color;
$link-color: $black-color;
$active-link-color: $black-color;