.no-mg-btm {
  margin-bottom: 0 !important;
}

.bd-btm {
  border-bottom: 1px solid #eee;
}

.buy-btn {
  color: #fff;
  width: 100%;
  display: block;
  background-color: #222;
  border: 1px solid #ddd;
}

.buy-btn:hover,
.buy-btn:focus,
.buy-btn:active {
  color: #fff;
}

.footer {
  background-color: #111;

  > p {
    color: #fff;
    margin-bottom: 0;
  }
}

.site-info {
  background: #222;
  color: #fff;

  a {
    color: #999;
  }

  p {
    color: #999;
  }
}

ol {
  li {
    padding: 1rem 0;
  }
}